*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: url(Currency.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}
h2{
    text-align: center;
}
.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    height: 47vh;
    width:40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,input,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;

}
form input{
    font-weight: 600;
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
form input:hover{
    border: 2px solid #343a40;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
/* .ind{
    margin-left: 160px;
} */
.dropdown{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2.5rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    border-radius: 0.3rem;
    border: 1px solid lightgray;
}
.select-container:hover{
    border: 1px solid #343a40;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.dropdown i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width :40px;
    border: 0.5px solid lightgray;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-top: 28px;
}
.dropdown p{
    margin-bottom: 0.5rem;
}
.amount p{
    margin-bottom: 0.5rem;
}
.msg{
    text-align: center;
    font-weight: 600;
    margin: 1.5rem 0 1.5rem 0;
}
button {
    height: 3rem;
    background-color: #03045e;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
button:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
